*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.logo{
    padding: 23px;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.list a{
    color: #3A3845;
}
.icons ul{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}